ConsoleApp1/Connected Services/ServiceReference1/WCFOrganisationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Admin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Admin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPCFirm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PCFirm" nillable="true" type="tns:PCFirm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPCFirm" nillable="true" type="tns:ArrayOfPCFirm" />
  <xs:complexType name="PCFirm">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="FirmCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirmId" type="xs:int" />
      <xs:element minOccurs="0" name="FirmName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PCFirm" nillable="true" type="tns:PCFirm" />
</xs:schema>