ConsoleApp1/Connected Services/ServiceReference1/WCFOrganisationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GT.TurkuazCommon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GT.TurkuazCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PropertyClass">
    <xs:sequence>
      <xs:element name="createDate" type="xs:dateTime" />
      <xs:element name="createUserId" type="xs:int" />
      <xs:element name="modifyDate" type="xs:dateTime" />
      <xs:element name="modifyUserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertyClass" nillable="true" type="tns:PropertyClass" />
</xs:schema>