ConsoleApp1/Connected Services/ServiceReference1/WCFOrganisationService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GT.TurkuazCommon.General" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GT.TurkuazCommon.General" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GT.TurkuazCommon" />
  <xs:complexType name="PCAddress">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/GT.TurkuazCommon" base="q1:PropertyClass">
        <xs:sequence>
          <xs:element minOccurs="0" name="BrandCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Explanation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Invoice" type="xs:boolean" />
          <xs:element minOccurs="0" name="InvolvedPartyID" type="xs:int" />
          <xs:element minOccurs="0" name="InvolvedPartyType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsIncludeInvoice" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsLatest" type="xs:boolean" />
          <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Neighbourhood" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OptionOrder" type="xs:short" />
          <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Priority" type="xs:boolean" />
          <xs:element minOccurs="0" name="Status" type="xs:short" />
          <xs:element minOccurs="0" name="Town" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PCAddress" nillable="true" type="tns:PCAddress" />
  <xs:complexType name="PCContact">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/GT.TurkuazCommon" base="q2:PropertyClass">
        <xs:sequence>
          <xs:element minOccurs="0" name="AreaCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BrandCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Explanation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Extention" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="InvolvedPartyID" type="xs:int" />
          <xs:element minOccurs="0" name="InvolvedPartyType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsLatest" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsLocked" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsMobileApplication" type="xs:boolean" />
          <xs:element minOccurs="0" name="MobilePhoneType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Priority" type="xs:boolean" />
          <xs:element minOccurs="0" name="Relation" type="xs:int" />
          <xs:element minOccurs="0" name="RelationID" type="xs:int" />
          <xs:element minOccurs="0" name="Status" type="xs:short" />
          <xs:element minOccurs="0" name="SubType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Visible" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PCContact" nillable="true" type="tns:PCContact" />
  <xs:complexType name="PCInvolvedParty">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/GT.TurkuazCommon" base="q3:PropertyClass">
        <xs:sequence>
          <xs:element minOccurs="0" name="InvolvedPartyId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PCInvolvedParty" nillable="true" type="tns:PCInvolvedParty" />
</xs:schema>