ConsoleApp1/Connected Services/ServiceReference1/WCFOrganisationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFOrganisationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" />
      <xsd:import schemaLocation="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GT.TurkuazCommon.Organisation" />
      <xsd:import schemaLocation="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GT.TurkuazCommon" />
      <xsd:import schemaLocation="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Common.Organisation" />
      <xsd:import schemaLocation="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/GT.TurkuazCommon.Admin" />
      <xsd:import schemaLocation="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Common.Admin" />
      <xsd:import schemaLocation="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/GT.TurkuazCommon.General" />
      <xsd:import schemaLocation="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/GT.TurkuazCommon.Personnel.Education" />
      <xsd:import schemaLocation="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFOrganisationService_ListDealer_InputMessage">
    <wsdl:part name="parameters" element="tns:ListDealer" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_ListDealer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListDealerResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetDealersForBrands_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDealersForBrands" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetDealersForBrands_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDealersForBrandsResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetConsultantsForBrandsAndDealers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsultantsForBrandsAndDealers" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetConsultantsForBrandsAndDealers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsultantsForBrandsAndDealersResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetUsersAvailableFirms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersAvailableFirms" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetUsersAvailableFirms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersAvailableFirmsResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetGeneralFirm_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGeneralFirm" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetGeneralFirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGeneralFirmResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetPersonnelNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonnelNames" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetPersonnelNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonnelNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetPersonnelsByIdList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonnelsByIdList" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetPersonnelsByIdList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonnelsByIdListResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetPersonnelInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonnelInfo" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetPersonnelInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonnelInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetPersonnelListByDOGFeature_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonnelListByDOGFeature" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetPersonnelListByDOGFeature_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonnelListByDOGFeatureResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetPersonnelListByBrand_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonnelListByBrand" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetPersonnelListByBrand_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonnelListByBrandResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_AddTempLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTempLocation" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_AddTempLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTempLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetTempLocationByGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTempLocationByGuid" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetTempLocationByGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTempLocationByGuidResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetOrganisationsByFirm_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganisationsByFirm" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetOrganisationsByFirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganisationsByFirmResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetPersonnelList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonnelList" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetPersonnelList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonnelListResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetActivePersonnelByFirm_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActivePersonnelByFirm" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetActivePersonnelByFirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActivePersonnelByFirmResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_SearchFirm_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchFirm" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_SearchFirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchFirmResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_ListCity_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCity" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_ListCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCityResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_CommonFirmFeatureList_InputMessage">
    <wsdl:part name="parameters" element="tns:CommonFirmFeatureList" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_CommonFirmFeatureList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommonFirmFeatureListResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetPersonnelEmailByUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonnelEmailByUserName" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_GetPersonnelEmailByUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonnelEmailByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_ListFirms_InputMessage">
    <wsdl:part name="parameters" element="tns:ListFirms" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_ListFirms_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListFirmsResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_ListFirmsByCommonFirmIdList_InputMessage">
    <wsdl:part name="parameters" element="tns:ListFirmsByCommonFirmIdList" />
  </wsdl:message>
  <wsdl:message name="IWCFOrganisationService_ListFirmsByCommonFirmIdList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListFirmsByCommonFirmIdListResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFOrganisationService">
    <wsdl:operation name="ListDealer">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/ListDealer" message="tns:IWCFOrganisationService_ListDealer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/ListDealerResponse" message="tns:IWCFOrganisationService_ListDealer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDealersForBrands">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetDealersForBrands" message="tns:IWCFOrganisationService_GetDealersForBrands_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetDealersForBrandsResponse" message="tns:IWCFOrganisationService_GetDealersForBrands_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsultantsForBrandsAndDealers">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetConsultantsForBrandsAndDealers" message="tns:IWCFOrganisationService_GetConsultantsForBrandsAndDealers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetConsultantsForBrandsAndDealersResponse" message="tns:IWCFOrganisationService_GetConsultantsForBrandsAndDealers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersAvailableFirms">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetUsersAvailableFirms" message="tns:IWCFOrganisationService_GetUsersAvailableFirms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetUsersAvailableFirmsResponse" message="tns:IWCFOrganisationService_GetUsersAvailableFirms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGeneralFirm">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetGeneralFirm" message="tns:IWCFOrganisationService_GetGeneralFirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetGeneralFirmResponse" message="tns:IWCFOrganisationService_GetGeneralFirm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetPersonnelNames" message="tns:IWCFOrganisationService_GetPersonnelNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetPersonnelNamesResponse" message="tns:IWCFOrganisationService_GetPersonnelNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelsByIdList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetPersonnelsByIdList" message="tns:IWCFOrganisationService_GetPersonnelsByIdList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetPersonnelsByIdListResponse" message="tns:IWCFOrganisationService_GetPersonnelsByIdList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetPersonnelInfo" message="tns:IWCFOrganisationService_GetPersonnelInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetPersonnelInfoResponse" message="tns:IWCFOrganisationService_GetPersonnelInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelListByDOGFeature">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetPersonnelListByDOGFeature" message="tns:IWCFOrganisationService_GetPersonnelListByDOGFeature_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetPersonnelListByDOGFeatureResponse" message="tns:IWCFOrganisationService_GetPersonnelListByDOGFeature_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelListByBrand">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetPersonnelListByBrand" message="tns:IWCFOrganisationService_GetPersonnelListByBrand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetPersonnelListByBrandResponse" message="tns:IWCFOrganisationService_GetPersonnelListByBrand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTempLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/AddTempLocation" message="tns:IWCFOrganisationService_AddTempLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/AddTempLocationResponse" message="tns:IWCFOrganisationService_AddTempLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTempLocationByGuid">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetTempLocationByGuid" message="tns:IWCFOrganisationService_GetTempLocationByGuid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetTempLocationByGuidResponse" message="tns:IWCFOrganisationService_GetTempLocationByGuid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganisationsByFirm">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetOrganisationsByFirm" message="tns:IWCFOrganisationService_GetOrganisationsByFirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetOrganisationsByFirmResponse" message="tns:IWCFOrganisationService_GetOrganisationsByFirm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetPersonnelList" message="tns:IWCFOrganisationService_GetPersonnelList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetPersonnelListResponse" message="tns:IWCFOrganisationService_GetPersonnelList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActivePersonnelByFirm">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetActivePersonnelByFirm" message="tns:IWCFOrganisationService_GetActivePersonnelByFirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetActivePersonnelByFirmResponse" message="tns:IWCFOrganisationService_GetActivePersonnelByFirm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchFirm">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/SearchFirm" message="tns:IWCFOrganisationService_SearchFirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/SearchFirmResponse" message="tns:IWCFOrganisationService_SearchFirm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/ListCity" message="tns:IWCFOrganisationService_ListCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/ListCityResponse" message="tns:IWCFOrganisationService_ListCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommonFirmFeatureList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/CommonFirmFeatureList" message="tns:IWCFOrganisationService_CommonFirmFeatureList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/CommonFirmFeatureListResponse" message="tns:IWCFOrganisationService_CommonFirmFeatureList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelEmailByUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetPersonnelEmailByUserName" message="tns:IWCFOrganisationService_GetPersonnelEmailByUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/GetPersonnelEmailByUserNameResponse" message="tns:IWCFOrganisationService_GetPersonnelEmailByUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListFirms">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/ListFirms" message="tns:IWCFOrganisationService_ListFirms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/ListFirmsResponse" message="tns:IWCFOrganisationService_ListFirms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListFirmsByCommonFirmIdList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFOrganisationService/ListFirmsByCommonFirmIdList" message="tns:IWCFOrganisationService_ListFirmsByCommonFirmIdList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFOrganisationService/ListFirmsByCommonFirmIdListResponse" message="tns:IWCFOrganisationService_ListFirmsByCommonFirmIdList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFOrganisationService" type="tns:IWCFOrganisationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListDealer">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/ListDealer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDealersForBrands">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/GetDealersForBrands" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsultantsForBrandsAndDealers">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/GetConsultantsForBrandsAndDealers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersAvailableFirms">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/GetUsersAvailableFirms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeneralFirm">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/GetGeneralFirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelNames">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/GetPersonnelNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelsByIdList">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/GetPersonnelsByIdList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelInfo">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/GetPersonnelInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelListByDOGFeature">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/GetPersonnelListByDOGFeature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelListByBrand">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/GetPersonnelListByBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTempLocation">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/AddTempLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTempLocationByGuid">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/GetTempLocationByGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrganisationsByFirm">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/GetOrganisationsByFirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelList">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/GetPersonnelList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivePersonnelByFirm">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/GetActivePersonnelByFirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchFirm">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/SearchFirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCity">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/ListCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommonFirmFeatureList">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/CommonFirmFeatureList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelEmailByUserName">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/GetPersonnelEmailByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListFirms">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/ListFirms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListFirmsByCommonFirmIdList">
      <soap:operation soapAction="http://tempuri.org/IWCFOrganisationService/ListFirmsByCommonFirmIdList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFOrganisationService">
    <wsdl:port name="BasicHttpBinding_IWCFOrganisationService" binding="tns:BasicHttpBinding_IWCFOrganisationService">
      <soap:address location="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>