ConsoleApp1/Connected Services/ServiceReference1/WCFOrganisationService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" />
  <xs:import schemaLocation="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/GT.TurkuazCommon.Admin" />
  <xs:import schemaLocation="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/GT.TurkuazCommon.Personnel.Education" />
  <xs:import schemaLocation="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Common.Organisation" />
  <xs:import schemaLocation="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://turkuazwcfpreprod/WCFInternalServices/Organisation/WCFOrganisationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GT.TurkuazCommon.Organisation" />
  <xs:element name="ListDealer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListDealerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" minOccurs="0" name="ListDealerResult" nillable="true" type="q1:ResponseMessageOfArrayOfPCCommonFirmFeature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealersForBrands">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="brands" nillable="true" type="q2:ArrayOfstring" />
        <xs:element minOccurs="0" name="serviceType" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealersForBrandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" minOccurs="0" name="GetDealersForBrandsResult" nillable="true" type="q3:ResponseMessageOfArrayOfPCCommonFirmFeature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsultantsForBrandsAndDealers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="brands" nillable="true" type="q4:ArrayOfstring" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dealers" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsultantsForBrandsAndDealersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" minOccurs="0" name="GetConsultantsForBrandsAndDealersResult" nillable="true" type="q6:ResponseMessageOfArrayOfPCConsultant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersAvailableFirms">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GT.TurkuazCommon.Admin" minOccurs="0" name="pcTurkuazUser" nillable="true" type="q7:PCTurkuazUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersAvailableFirmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" minOccurs="0" name="GetUsersAvailableFirmsResult" nillable="true" type="q8:ResponseMessageOfArrayOfPCFirm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeneralFirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="commonFirmId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeneralFirmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" minOccurs="0" name="GetGeneralFirmResult" nillable="true" type="q9:ResponseMessageOfPCComTemp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GT.TurkuazCommon.Personnel.Education" minOccurs="0" name="pcPersonnelPrimaryInfo" nillable="true" type="q10:PCPersonnelPrimaryInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" minOccurs="0" name="GetPersonnelNamesResult" nillable="true" type="q11:ResponseMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelsByIdList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="personnels" nillable="true" type="q12:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelsByIdListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" minOccurs="0" name="GetPersonnelsByIdListResult" nillable="true" type="q13:ResponseMessageOfArrayOfPCPersonnelPrimaryInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personnelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" minOccurs="0" name="GetPersonnelInfoResult" nillable="true" type="q14:ResponseMessageOfPCPersonnel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelListByDOGFeature">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GT.TurkuazCommon.Personnel.Education" minOccurs="0" name="pcPersonnel" nillable="true" type="q15:PCPersonnel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelListByDOGFeatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" minOccurs="0" name="GetPersonnelListByDOGFeatureResult" nillable="true" type="q16:ResponseMessageOfArrayOfPCConsultant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelListByBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="brandCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelListByBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" minOccurs="0" name="GetPersonnelListByBrandResult" nillable="true" type="q17:ResponseMessageOfArrayOfPCPersonnelBrandInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTempLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Common.Organisation" minOccurs="0" name="pcLocation" nillable="true" type="q18:PCTempLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTempLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" minOccurs="0" name="AddTempLocationResult" nillable="true" type="q19:ResponseMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTempLocationByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q20:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTempLocationByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" minOccurs="0" name="GetTempLocationByGuidResult" nillable="true" type="q21:ResponseMessageOfPCTempLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganisationsByFirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firmId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganisationsByFirmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" minOccurs="0" name="GetOrganisationsByFirmResult" nillable="true" type="q22:ResponseMessageOfArrayOfPCFirmOrganisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firmId" type="xs:int" />
        <xs:element minOccurs="0" name="organisationId" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="active" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" minOccurs="0" name="GetPersonnelListResult" nillable="true" type="q23:ResponseMessageOfArrayOfPCPersonnelPrimaryInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivePersonnelByFirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firmId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivePersonnelByFirmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" minOccurs="0" name="GetActivePersonnelByFirmResult" nillable="true" type="q24:ResponseMessageOfArrayOfPCPersonnelPrimaryInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/GT.TurkuazCommon.Organisation" minOccurs="0" name="pcCommonFirm" nillable="true" type="q25:PCCommonFirm" />
        <xs:element minOccurs="0" name="countryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="areaCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firmFeature" type="xs:int" />
        <xs:element minOccurs="0" name="cityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activeFirm" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFirmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" minOccurs="0" name="SearchFirmResult" nillable="true" type="q26:ResponseMessageOfArrayOfPCCommonFirm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" minOccurs="0" name="ListCityResult" nillable="true" type="q27:ResponseMessageOfArrayOfPCCityCounty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommonFirmFeatureList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firmId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommonFirmFeatureListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" minOccurs="0" name="CommonFirmFeatureListResult" nillable="true" type="q28:ResponseMessageOfArrayOfPCCommonFirmFeature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelEmailByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelEmailByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" minOccurs="0" name="GetPersonnelEmailByUserNameResult" nillable="true" type="q29:ResponseMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFirms">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="filterCommonFirmIdList" nillable="true" type="q30:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFirmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/GT.TurkuazSystem" minOccurs="0" name="ListFirmsResult" nillable="true" type="q31:ResponseMessageOfArrayOfPCFirm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFirmsByCommonFirmIdList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="filterCommonFirmIdList" nillable="true" type="q32:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFirmsByCommonFirmIdListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListFirmsByCommonFirmIdListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>